<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stockList.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of stockList.items" (click)="itemTapped(item)">
      {{item.barcode}}
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="newItemPage()">Add new item</button>
  </ion-toolbar>
</ion-footer>
