<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of stockItems" (click)="itemTapped($event, item)">
      {{item.code}}
      <div item-right>
        {{item.name}}
      </div>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="newItemPage()">Add new item</button>
  </ion-toolbar>
</ion-footer>
